.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.left{
    flex: 2;
}
.right{
    flex: 0.8;
}

.container_DS{
    border: 1px solid #0066CC;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.title_DS{
    margin: 0;
    padding: 10px;
    background-color: #0066CC4A;
    color: black;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}
table{
    width: 95%;
    border-collapse: collapse;
    margin: 10px 20px 10px 20px;
}
table th, table td{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
}

.search{
    display: flex;
    justify-content: left;
    gap: 20px;
    padding-top: 10px;
}
.search label{
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
}
.select{
    width: 150px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;

}

.input{
    width: 180px;
    height: 18.5px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.search button{
    width: 100px;
    border: 1px solid black;
    color: white;
    margin: 15px;
    padding: 3px;
}
.action{
    display: flex;
    justify-content: left;

}
.action label{
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}
.buttonGroup{
    display: flex;
    float: left;
    gap: 100px;
    padding: 10px;
}

.container_Infor{
    border: 1px solid #0066CC;
    border-radius: 5px;
}
.header{
    margin: 0;
    padding: 15px;
    background-color: #a8c6e5;
    font-style: italic;
    font-size: 16px;
    text-align: center;
}

input {
    padding: 10px 12px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    transition: all 0.2s ease;
}

input:focus {
    border-color: #1976d2;
    box-shadow: 0 0 5px rgba(25, 118, 210, 0.4);
}

button {
    display: block;
    margin: 30px auto 0;
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 12px 35px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.25s ease;
}

button:hover {
    background-color: #0d47a1;
}

.form_CN{
    display: flex;
    justify-content: center;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.table_wrapper{
    display: block;
    overflow-y: auto;
    max-height: 650px;
}