# Bỏ qua thư mục môi trường ảo
venv/
env/
.env

# Bỏ qua file biên dịch của Python
__pycache__/
*.py[cod]

# Bỏ qua file settings của IDE (VS Code, Pycharm)
.vscode/
.idea/

# Bỏ qua file database SQLite (nếu có dùng lại)
*.db
*.sqlite3
