.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.left{
    flex: 2;
}
.right{
    flex: 0.8;
}
.container_ds{
    border: 1px solid #0066CC;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.title_ds{
    margin: 0;
    padding: 10px;
    background-color: #0066CC4A;
    color: black;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}
table{
    width: 95%;
    border-collapse: collapse;
    margin: 10px 20px 10px 20px;
}
table th, table td{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
}
.action{

}
.buttonGroup{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 20px 0;
}
.buttonGroup button{
    width: 100px;
    height: 30px;
    padding: 3px;
    border: 1px solid black;
    cuisor : white;
}

.search{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding-top: 10px;
}
.group{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.row{
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}
.search input{
    width: 125px;
    height: 9px;
}
.addFile{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px 0;
    gap: 15px;
}
.chooseFile{
    background: #D9D9D9;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}
.container_Infor{
    border: 1px solid #0066CC;
    border-radius: 5px;
}
.header{
    background: #0066CC4A;
    margin: 0px;
    padding: 10px;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}
.form_infor{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.form_row{
    display: flex;
    gap: 10px;
}
.form_group{
    flex: 1;
    display: flex;
    flex-direction: column;
}
