.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
.left{
    flex: 2;
}
.right{
    flex: 1;
}

.container_dspb{
    border: 1px solid #0066CC;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.title_DS{
    margin: 0;
    padding: 10px;
    background-color: #0066CC4A;
    color: black;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}
.row{
    width: 50px;
    height: 17px;
}
.search{
    display: flex;
    justify-content: left;
    gap: 20px;
    padding-top: 10px;
}
.search_group{
    width: 150px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.input{
    width: 180px;
    height: 18.5px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.search button{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    color: white;
    margin: 12px;
    padding: 3px;
}

.container_Infor{
    border: 1px solid #0066CC;
    border-radius: 5px;
}
.header{
    background: #0066CC4A;
    margin: 0px;
    padding: 10px;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}
.form_trPB{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.form_row{
    display: flex;
    gap: 20px;
}
.form_group{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.action{
    display: flex;
    justify-content: center;
}


