.content{
    border: 1px solid #0066CC;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0066CC4A;
    margin: 0;
    padding: 10px;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    gap: 4px;
}
.func{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    margin: 10px;
}
.search{
    width: 55%;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
}
.group{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.search button{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.other {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
    gap: 15px;
}
.action button{
    margin: 5px;
}
.navBtn {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
    padding: 0 6px;
}

.navBtn:hover {
    color: #0066cc;
}
.table_wrapper{
    display: block;
    overflow-y: auto;
    max-height: 400px;
}