.content{
    border: 1px solid #0066CC;
}
.header{
    background: #0066CC4A;
    margin: 0px;
    padding: 10px;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}
.func{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    margin: 10px;
}
.search{
    width: 55%;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
}
.group{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.search button{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.other {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
    gap: 15px;
}
.action button{
    margin: 5px;
}