body{
    font-family:sans-serif;
    margin:0;
}
.function{
    display: flex;
    height: 100vh;
    border: 1px solid #ccc;
}
.sidebar{
    width: 350px;
    height: 897px;
    background-color: #0066CC14;
    display: flex;
    flex-direction: column;
}
.logo{
    text-align: center;
    padding-top: 10px;
}
.logo img{
    width: 60px;
}
.sidebar ul{
    padding: 0;
    margin: 0;
}

.sidebar ul li{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 20px;
    cursor: pointer;
}
.sidebar ul li img{
    width: 30px;
    height: 30px;
}
.sidebar ul li:hover{
    border: 1px solid #2a78e4;
    border-radius: 5px;
}
.sidebar ul li.active{
    color: black;
}
a {
    text-decoration: none;
    color: black;
}
li a {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
li a:hover {
    background-color: #eaf1fb;
}
.main-content {
    width: 75%;
}

.header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #0066CC0F;
    padding: 10px;
}
.content {
    padding: 10px 20px;
}

.content ul {
    list-style: none;
    padding-left: 20px;
}
.content img{
    width: 20px;
}
.toggle {
    color: #2a78e4;
    cursor: pointer;
    font-weight: bold;
    margin-right: 6px;
}